body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 500px;
  background: rgb(251, 252, 247);
  border-radius: 5px;
}

.result {
  padding: 2rem;
  text-align: right;
  background: rgb(135, 133, 133);
  color: #fff;
  font-size: 1.7rem;
  font-weight: 400;
}

button {
  color: rgb(22, 23, 20);
  background: rgb(224, 225, 222);
  padding: 1.5rem;
  font-size: 1.8rem;
  cursor: pointer;
  outline: none;
  border: 1px solid rgb(181, 176, 176);
  transition: all 0.5s ease-in;
}

button:hover {
  color: #fff;
  background: rgba(121, 115, 115, 0.5);
}

.wrapper {
  display: flex;
}

.digits {
  display: flex;
  flex-wrap: wrap;
  background: rgb(199, 200, 196);
}

.digits button {
  flex: 1 1 33.33%;
}

.top-cal {
  display: flex;
  flex-wrap: wrap;
  background: rgb(224, 225, 222);
}

.top-cal button {
  flex: 1 1 33.33%;
}

.bottom-cal {
  display: flex;
  flex-direction: row-reverse;
}

.bottom-cal button {
  width: 33.33%;
}

.bottom-cal .btn-0 {
  width: 66.77%;
}

.main-cal {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.operatorss {
  display: flex;
  flex-direction: column;
  width: 26%;
}

.operatorss button {
  flex: 1;
  background: rgb(240, 162, 16);
}
